/** custom variables **/
:root {
  /* colors primary */
  --clr-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);

  /* colors neutral */
  --clr-dark-brown: hsl(25, 47%, 15%);
  --clr-medium-brown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-very-pale-orange: hsl(33, 100%, 98%);

  /* font */
  --ff: 'DM Sans', sans-serif;

  --fs-normal: 1.8rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

/** reset **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/** set-up **/
body {
  min-height: 100vh;
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  /* background-color: var(--bg-bottom); */
}

.App {
  width: 37.5rem;
  /* background-color: var(--bg-bottom); */
}

@media (min-width: 65em) {
  /* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .App {
    width: 144rem;
    /* max-width: 144rem; */
  }
}
